.introSection {
  /* Spațiul generos de deasupra și dedesubt (12rem = 192px) */
  padding: var(--space-md) 0;
  background-color: var(--color-primary-bg); /* Antique Ivory */
}

/* Containerul Lățimii Reținute - Esențial pentru designul editorial */
.containerConstrained {
  width: 100%;
  max-width: var(--layout-max-width);
  margin-left: auto;
  margin-right: auto;

  padding: 0 var(--space-lg); /* 0 sus/jos, 8rem stânga/dreapta */

  text-align: center;
}
.introMissionBox {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* Subtitlu Misiune */
.introMission {
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-sm);
  color: var(--color-dark-gold);
  padding-bottom: var(--space-md);
  text-transform: uppercase;
  letter-spacing: var(--space-xxs);
}

/* Titlu H2 */
.introTitle {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-h2);
  padding-bottom: var(--space-md);
  /* font-weight: 700; */

  position: relative;
  overflow: hidden;

  color: var(--color-text-main);
  background-image: url("../../assets/images/paint streaks/flowing-stroke-sm.svg");

  background-repeat: no-repeat;
  background-position: center bottom; /* sau left center / right center */
  background-size: cover;
}

/* Text de Corp (Body) */
.introBody {
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-body); /* 1.125rem (18px) */
  line-height: var(--line-height-body); /* 1.7 */
  margin-bottom: var(--space-lg); /* 128px */
  max-width: 900px; /* Limităm lungimea rândului pentru lizibilitate maximă */
  margin-left: auto;
  margin-right: auto;
}

/* Citatul/Semnătura */
.introQuote {
  font-family: var(--font-family-signature); /* Style Script */
  font-size: var(--font-size-h3); /* 2.5rem (40px) */
  color: var(--color-accent-burgundy);
  font-weight: 400;
  line-height: var(--line-height-heading);
  margin-top: var(--space-md);
}

/* Media Query: Optimizare Mobil  */
@media (max-width: 768px) {
  .introSection {
    padding: var(--space-md) var(--space-sm);
  }

  .containerConstrained {
    padding: 0 var(--layout-padding-mobile);
  }

  .introTitle {
    font-size: 2.5rem;
    margin-bottom: var(--space-sm);

    font-size: var(--font-size-h4, 2rem);
    margin-bottom: var(--space-sm);
  }

  .introBody {
    margin-bottom: var(--space-md);
  }
}
